:root{
    --red-color : rgb(185 28 28);
}

.changer{
    animation: styleChanger 4s linear infinite;
}

@keyframes styleChanger {
    0%{
        text-shadow: 0 0 rgb(57, 52, 52);
    }
    15%{
        text-shadow: 5px -5px rgb(57, 52, 52);
    }
    85%{
        text-shadow: 5px -5px rgb(57, 52, 52);
    }
    100%{
        text-shadow: 0 0 rgb(57, 52, 52);
    }
}
