:root{
    --gray: rgba(35, 30, 30);
    --red: rgb(185 28 28);
}

.animated-btn{
    border: 2px solid var(--gray);
    background-color: var(--red);

    transition-property: box-shadow background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.animated-btn:hover{
    border: 2px solid var(--gray);
    background-color: rgb(225, 0, 0);
    box-shadow: 4px 4px var(--gray);
}